:root {
  font-size: 12px;
}
a {
  text-decoration: none;
}

.first-row {
  background-color: #06101d;
  color: white;

  /* letter-spacing: 0.5px; */
}
.second-row {
  background-color: #182a41;
  color: white;
  font-size: 1.2rem;
}
.third-row {
  font-size: 1.3rem;
  background-color: #dcdddd59;
}
header .col {
  border: 1px solid transparent;
}
header .col:hover {
  border: 1px solid white;
}

.logo {
  font-size: 2rem;
  font-weight: bolder;
}
#basic-addon2 {
  width: 3rem;
  border: 0px solid transparent;
}

.user-location p {
  font-size: 0.9rem;
}
header span {
  font-size: 1rem;
  font-weight: bolder;
}
i {
  font-size: 1.5rem;
}

.language > img {
  width: 1.5rem;
  vertical-align: baseline;
}

.user-location > p {
  margin: 0;
}

.third-row > :first-child {
  /* display: block; */
  /* padding-right: 1.3rem; */
  border-right: 1px solid black;
  background-color: #e9ebec;
}
.third-row > * {
  padding: 1.1rem;
  color: rgb(10, 10, 10);
}
.third-row a:hover {
  color: rgb(240, 188, 45);
}
.third-row i {
  font-size: 0.6rem;
}

/* content */
.content {
  display: flex;
  font-size: 16px;
}
aside {
  min-width: 15em;
}
main {
  flex-grow: 1;
  padding: 0 7em 0 7em;
}

.banner {
  height: 15em;
  border-radius: 5px;
  background-color: #21556d79;
}
.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  padding: 0;
}

.card-img-top {
  height: 15rem;
}

/* aside */
.aside-container {
  border-right: 2px solid #c9c5c5cb;
}

.filter-list a {
  font-size: 1.1rem;
  line-height: 2.5rem;
  color: rgb(17, 16, 16);
}

.filter-list a:hover {
  color: rgb(240, 188, 45);
}
